@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 0%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 0 0% 45%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 0%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 0%;

    --border: 0 0% 0%;
    --input: 0 0% 80%;

    --primary: 0 0% 0%;
    --primary-foreground: 0 0% 100%;

    --secondary: 0 0% 96%;
    --secondary-foreground: 0 0% 0%;

    --accent: 0 0% 96%;
    --accent-foreground: 0 0% 0%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 0 0% 0%;

    --radius: 1rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-medium tracking-tighter font-inter;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@layer utilities {
  .btn-xs {
    @apply h-7 px-2 text-xs rounded-xl;
  }

  .btn-sm {
    @apply h-8 px-3 text-sm rounded-xl;
  }

  .btn-md {
    @apply h-9 px-4 text-sm rounded-xl;
  }

  .btn-lg {
    @apply h-10 px-5 text-base rounded-xl;
  }

  .input-rounded {
    @apply rounded-xl border-gray-200 shadow-sm;
  }

  .card-rounded {
    @apply rounded-2xl border border-gray-200 shadow-sm;
  }

  .badge-rounded {
    @apply rounded-xl text-[10px] px-2.5 py-0.5;
  }
}
